<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>meno</th>
            <th>e-mail</th>
            <th>posledné prihlásenie</th>
            <th>aktívny</th>
            <th>skupiny</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.lastLogin}}</td>
            <td>{{user.active}}</td>
            <td>{{user.groups}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="onNewUserButtonClick()">
    Pridať používateľa
</button>
<app-user-edit [user]="editedUser" [actionWithUser]="actionWithUser" 
               (saved)="saveUser($event)"></app-user-edit>