<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>meno</th>
            <th>e-mail</th>
            <th>posledné prihlásenie</th>
            <th>aktívny</th>
            <th>skupiny</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.getSkLastLogin()}}</td>
            <td>
                <fa-icon *ngIf="user.active" [icon]="faCheckCircle" style="color: green"></fa-icon>
                <fa-icon *ngIf="!user.active" [icon]="faTimesCircle" style="color: red"></fa-icon>
            </td>
            <td><span *ngFor="let group of user.groups">{{group.name}}&nbsp;</span></td>
            <td>
                <button type="button" class="btn btn-outline-secondary" 
                       (click)="editUser(user)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button type="button" class="btn btn-outline-danger" 
                    (click)="deleteUser(user)">
                    <fa-icon [icon]="faUserTimes" style="color: red"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="onNewUserButtonClick()">
    Pridať používateľa
</button>
<app-user-edit [user]="editedUser" [actionWithUser]="actionWithUser" 
               (saved)="saveUser($event)"></app-user-edit>